body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
}

.stop-watch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.stop-watch-display {
  font-size: 70px;
}

button {
  font-size: 16px;
  margin: 10px;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.start-button {
  color: rgb(0, 255, 0);
  background-color: hsl(113, 100%, 12%);
}

.start-button:hover {
  background-color: hsl(113, 100%, 8%);
}

.stop-button {
  color: hsl(0, 100%, 50%);
  background-color: hsl(0, 100%, 12%);
}

.stop-button:hover {
  background-color: hsl(0, 100%, 8%);
}

.reset-button {
  color: white;
  background-color: hsl(0, 0%, 40%);
}

.reset-button:hover {
  background-color: hsl(0, 0%, 36%);
}
